# Python cache
__pycache__/
*.pyc

# Data & Models
*.pth
*.pkl
data/

# Environments
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
/data_processed
/runs
/data_processed_387x516
train_data_heatmap.html
clean_index.pt
*.pt
